<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert haha here</title>
</head>
<body>
<h1>haha haha</h1>
<p> text is <span th:text="${test}">failed</span></p>
<p> city is <span th:text="${locationName.name}">jhkhk</span></p>
<p> country is <span th:text="${locationName.country}">jhkhk</span></p>
<p> latitude is <span th:text="${locationName.latitude}">jhkhk</span></p>
<p> longitude is <span th:text="${locationName.longitude}">jhkhk</span></p>

<iframe th:src="${filename}"></iframe>
<p> temperature is <span th:text="${weatherDtls}">jhkhk</span></p>
 
</body>
</html>